#navbar{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgba(7, 7, 36, 0.897);
    border-radius: 20px;
    justify-content:space-between;
}
#navbar>div:nth-child(1){
    width: 60%;
    color: white;
    margin-left: 20px;
}
#navbar>div:nth-child(2){
    width: 15%;
    color: white;
    display: flex;
    
    margin-right: 30px ;
    justify-content: space-between;
}
#navbar>div:nth-child(3){
    width: 15%;
    color: white;
    display: flex;
    
    margin-right: 30px ;
    justify-content: space-between;
}
#navbar div a{
    color: white;
}

#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: space-evenly;
  }
  button{
    margin-top: 20px;
  }